
@black: #999;
@white: #fff;

body {
	background:url('/assets/img/background.jpg');
	padding-top:20px;
}

div#header {
	height: 50px;
	line-height: 50px;
	background: url('/assets/img/hdr.gif') 0 0 repeat-x;
	color: @black;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 12px;
	margin-bottom: 20px;
	
	* {
		display: inline-block;
		font-weight: bold;
		color: @black;
	}
	
	a:hover {
		color: @white;
	}	

	.hdrl {
		width:20px;
		height:50px;
		float:left;
		background:url('/assets/img/hdrl.gif') top left no-repeat;
	}

	.hdrr {
		width:20px;
		height:50px;
		float:right;
		background:url('/assets/img/hdrr.gif') top right no-repeat;
	}

	h4 {
		margin-right: 40px;
		font-size: 18px;
		line-height: 29px;
		
		a {
			color: @white;
			text-decoration: none;
		}
	}

	p.user {
		float:right;
	}
}

ul#nav {
	position:relative;
	top:-1px;

	> li {
		// border-right:1px dotted @black;
		line-height: 43px;

		a {
			padding:3px 15px 3px 15px;
			font-weight:bold;
			text-decoration: none;
		}

		> &.lastchild {
			border: none;
		}
	}

	.my-dropdown {
		display: relative;

		&:hover .submenu {
			display: block;
		}

		.submenu {
			display: none;
			background: #444;
			position: absolute;
			margin: 0;

			li {
				width: 130px;
				display: block;				

				a {
					display: block;
					padding: 5px 10px;
				}

				&:hover {
					background: #000;
				}
			}
		}
	}
}

div.block-wrapper {
	background: @white;
	border:1px solid #cccccc;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	overflow:hidden;

	div.block-head {
		background:#f7f7f7;
		overflow:hidden;
		border-bottom:1px solid #cccccc;
		height:54px;
		line-height:54px;
		padding:0 20px 0 20px;

		h4 {
			font-family:'Titillium Web', sans-serif;
			float:left;
			line-height:54px;
			text-transform:uppercase;
			margin:0;
		}
	}

	div.block-body {
		padding:10px 20px 0 20px;
	}
}

table.my-table {
	
	form.delete {
		display:inline;
	}

	td {
		vertical-align:middle;
	}
	
} 

form {

	.control-label {
		text-align: left !important;
	}
}

.text-right {
	text-align:right !important;
}


/** 
 * ---------------------------------------------
 * Login
 * --------------------------------------------
 */
div.login-outer {
	background: @white;
	width: 400px;
	margin: 150px auto;

	div.login-inner {
		padding: 20px;

		input[type=text], 
		input[type=password] {
			padding: 16px 0px;
		}

		label {
			font-weight: 600;
		}
	}
}